.container-blog {
    width: 100%;
    height: 3700px;
    background-color: #fff;
}

.container-nav {
    background-color: #005978;

}

.blog-left1 {
    width: 70%;
    height: auto;
    background-color: #fff;
    float: left;
}

.blog-right1 {
    width: 30%;
    height: 1150px;
    background-color: #fff;
    float: left;
}

.blog-medsos {
    width: 100%;
    padding: 30px;
}

.blog-medsos h4 {
    font-family: Montserrat, sans-serif;
    font-style :normal;
    font-weight : 500;
    font-size : 12px;
    line-height : 18px ;
    color : #e48800;
    text-align: left;
    margin: 10px 0 10px 0;
}

.blog-medsos h3 {
    font-family: Montserrat, sans-serif;
    font-style :normal;
    font-weight : 500;
    font-size : 20px;
    line-height : 20px ;

    color: black;
    font-size: 20px;
    text-align: left;
    margin: 20px 0 20px 0;
}

.blog-medsos p i {
    /* font-family: Montserrat, sans-serif;
    font-style :normal;
    font-weight : 600;
    font-size : 14px;
    line-height : 26px ; */

    margin: 0 10px 0 0;
    color: #95D5EC;

}

.medsos p {
    color: black;
}

.medsos {
    text-align: left;
    font-size: 20px;
    margin: 0 0 50px 0;
}


.jumbo {
    padding: 30px;
    width: 100%
}

.row-jumbo {
    width: 100%;
    height: auto;
}

.jumbo-child {
    width: 50%;
    padding: 20px;
    height: auto;
    float: left;
}
.jumbo-child h3 {
    font-family: Montserrat, sans-serif;
    font-style :normal;
    font-weight : 600;
    font-size : 12px;
    line-height : 19px ;
    color : #e89a01;
    text-align: left;
    margin: 30px 0 20px 0;
}

.jumbo-child h6 {
    font-family: Montserrat, sans-serif;
    font-style :normal;
    font-weight : 500;
    font-size : 12px;
    line-height : 22px ;
    color : #e48800;

    text-align: left;
    margin: 30px 0 20px 0;
}

.jumbo-child p {
    font-family: Montserrat, sans-serif;
    font-style :normal;
    font-weight : 400;
    font-size : 12px;
    line-height : 18px ;
    color : #7a8189;
    text-align: left;
    margin: 20px 0 20px 0;
}

.jumbo-child h5 {
    font-family: Raleway, sans-serif;
    font-style :normal;
    font-weight : 400;
    font-size : 16px;
    line-height : 34px ;
    color : #373c44;

    color: black;
    text-align: left;
    margin: 10px 0 10px 0;
}


.jumbo-child img {
    width: 50%;
    height: auto;
}


.jumbo img {
    width: 300px;
}

.jumbo h6 {
    font-family: Montserrat, sans-serif;
    font-style :normal;
    font-weight : 500;
    font-size : 12px;
    line-height : 22px ;
    color : #e48800;
    text-align: left;
    margin: 30px 0 20px 0;
}
.jumbo h3 {
    font-family: Montserrat, sans-serif;
    font-style :normal;
    font-weight : 600;
    font-size : 12px;
    line-height : 19px ;
    color : #e89a01;
    text-align: left;
    margin: 30px 0 20px 0;
}
.jumbo p {
    font-family: Montserrat, sans-serif;
    font-style :normal;
    font-weight : 400;
    font-size : 12px;
    line-height : 18px ;
    color : #7a8189;

    color: #A1839C;
    text-align: left;
    margin: 20px 0 20px 0;
}

.jumbo h5 {
    font-family: Raleway, sans-serif;
    font-style :normal;
    font-weight : 400;
    font-size : 18px;
    line-height : 34px ;
    color : #373c44;

    color: black;
    text-align: left;
    margin: 10px 0 10px 0;
}

.artikel img {
    width: 30%;
    margin: 15px 0 15px 0;
}

.blog-artikel-populer {
    background-color: #F9F9F9;
    padding: 30px 0 0 0;
    width: 100%;
    height: 800px;
    text-align: center;
    margin: 0 auto;
}

.blog-artikel-populer h5 {
    font-family: Raleway, sans-serif;
    font-style :normal;
    font-weight : 500;
    font-size : 16px;
    line-height : 16px ;
    color : #e48800;
    margin: 30px 0 10px 0;
}

.blog-artikel-populer h6 {
    margin: 10px 0 10px 0;
    font-size: 12px;
    color: orange;

}

.artikel {
    width: 100%;
    height: 300px;
}
.artikel p{
    font-family: Raleway, sans-serif;
    font-style :normal;
    font-weight : 400;
    font-size : 18px;
    line-height : 34px ;
    color : #000000;
}
.artikel h3{
        font-family: Montserrat, sans-serif;
    font-style :normal;
    font-weight : 600;
    font-size : 12px;
    line-height : 19px ;
    color : #e89a01;
}

.row2 {
    width: 100%;
    float: left;
    background-color: #F4F5F6;
}

.row-carousel {
    padding: 60px 0 120px 0;
}

.row-carousel h3 {
    font-family: Raleway, sans-serif;
    font-style :normal;
    font-weight : 700;
    font-size : 28px;
    line-height : 28px ;
    color : #0b162b;

    margin: 50px;
}

.blog-main-swiper {
    width: 100%;
    height: 200px;
    /* background-color: yellow; */
}

/* .blog-main-swiper-image {
    background-color: blue;
} */

.blog-main-swiper-image img {
    width: 270px;
    height: 150px;
    background-color: red;
    /* padding: 0 10px 0 10px; */
    border-radius: 10px;

}

.row3 {
    width: 100%;
    float: left;
    background-color: #F4F5F6;
}

.blog-left2 {
    width: 70%;
    height: 1200px;
    float: left;
    background-color: #ffff;
}

.blog-right2 {
    width: 30%;
    float: left;
    height: 1200px;
    background-color: #ffff;
    padding: 50px 0 30px 0;
    text-align: center;
    margin: 0 auto;
}

.badge-blog1 {
    width: 150px;
    height: 30px;
    border: 1px orange solid;
    color: orange;
    font-size: 15px;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
}

.badge-blog1:hover {
    color: #fff;
    background-color: orange;

}

.badge-blog1 i {
    margin: 0 0 0 10px;
}

.side-swiper {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    height: 600px;
    background-color: #ffff;
}
.side-swiper h5 {
    font-family: Raleway, sans-serif;
    font-style :normal;
    font-weight : 400;
    font-size : 14px;
    line-height : 17px ;
    color : #e48800;
}
.side-swiper p{
    font-family: Montserrat, sans-serif;
    font-style :normal;
    font-weight : 400;
    font-size : 12px;
    line-height : 22px ;
    color : #3a3a3a;
}
.blog-case {
    background-color: #F9F9F9;
    padding: 30px 0 0 0;
    width: 100%;
    height: 1000px;
    text-align: center;
    margin: 0 auto;
}

.side-swiper-blog {
    width: 100%;
    height: 800px;
    text-align: center;
    margin: 0 auto;

}

.blog-case h5 {
    font-family: Raleway, sans-serif;
    font-style :normal;
    font-weight : 500;
    font-size : 16px;
    line-height : 16px ;
    color : #e48800;
    padding: 20px 0 20px 0;
}

.blog-case p {
    padding: 0 10px 20px 10px;
    font-size: 15px;
    margin: 0 0 20px 0;
}

.blog-case h5 {
    margin: 30px 0 10px 0;
    color: orange;

}

.blog-case h6 {
    margin: 10px 0 10px 0;
    font-size: 12px;
    color: orange;

}

/* Phone */
@media only screen and (max-width: 768px) {
    .blog-left1 {
        width: 100%;
        height: auto;
        background-color: #fff;
        float: left;
    }

    .blog-case {
        background-color: #F9F9F9;
        padding: 30px 0 0 0;
        width: 100%;
        height: 1000px;
        text-align: center;
        margin: 0 auto;
    }

    .blog-medsos {
        width: 100%;
        padding: 30px;
    }


    .side-swiper {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        height: 700px;
        background-color: #ffff;
    }

    .row-carousel {
        padding: 20px 0 30px 0;
    }

    .row-carousel h3 {
        margin: 20px;
    }

    .blog-right1 {
        width: 100%;
        height: 1150px;
        background-color: #fff;
        float: left;
    }

    .blog-left2 {
        width: 100%;
        height: 1200px;
        float: left;
        background-color: #ffff;
    }

    .blog-right2 {
        width: 100%;
        float: left;
        height: 1200px;
        background-color: #ffff;
        padding: 50px 0 30px 0;
        text-align: center;
        margin: 0 auto;
    }

    .jumbo-child {
        width: 100%;
        padding: 20px;
        height: auto;
        float: left;
    }

    .blog-main-swiper-image img {
        width: 100%;
        height: 100px;
        background-color: red;
        /* padding: 0 10px 0 10px; */
        border-radius: 10px;

    }
}

@media only screen and (max-width: 900px) {
    .blog-left1 {
        width: 100%;
        height: auto;
        background-color: #fff;
        float: left;
    }

    .blog-medsos {
        width: 100%;
        padding: 30px;
    }

    .blog-case {
        background-color: #F9F9F9;
        padding: 30px 0 0 0;
        width: 100%;
        height: 1000px;
        text-align: center;
        margin: 0 auto;
    }

    .row-carousel {
        padding: 20px 0 30px 0;
    }

    .row-carousel h3 {
        margin: 20px;
    }

    .side-swiper {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        height: 700px;
        background-color: #ffff;
    }

    .blog-right1 {
        width: 100%;
        height: 1150px;
        background-color: #fff;
        float: left;
    }

    .blog-left2 {
        width: 100%;
        height: 1200px;
        float: left;
        background-color: #ffff;
    }

    .jumbo-child {
        width: 100%;
        padding: 20px;
        height: auto;
        float: left;
    }

    .blog-right2 {
        width: 100%;
        float: left;
        height: 1200px;
        background-color: #ffff;
        padding: 50px 0 30px 0;
        text-align: center;
        margin: 0 auto;
    }
}