.container-course {
    width: 100%;
    height: auto;
}
.content-header-course h4 {
    width: 100%;
    color: #fff;
    float: left;
    text-align: center;
    margin: 120px 0 0 0;
}

.content-header-course {
    width: 100%;
    height: 470px;
    color: red;
    padding: 50px;
    text-align: center;
    margin: 0 auto;
}

.content-header-course h1 {
    font-family: Raleway, sans-serif;
    font-style :normal;
    font-weight : 400;
    font-size : 34px;
    line-height : 40px ;
    width: 600px;
    color: #fff;
    text-align:center;
    margin : 0 auto;
    padding:30px 0 0 0;

}
.content-header-course p {
    font-family: Montserrat, sans-serif;
    font-style :normal;
    font-weight : 400;
    font-size : 16px;
    line-height : 30px ;
    width: 600px;
    color: #efefef;
    
    text-align: center;
    margin : 0 auto;
    padding: 30px 0 0 0;
    width: 550px;
}

.content-header-course h1 span {
    font-family: Raleway, sans-serif;
    font-style :normal;
    font-weight : 800;
    font-size : 34px;
    line-height : 40px ;

    color: orange;
}


.content-course1 {
    width: 100%;
    height: 300px;
}

.content-course1-left {
    width: 40%;
    float: left;
    text-align: left;
}

.content-course1-right {
    float: left;
    width: 60%;
    margin: 20px 0 0 0;
}

.content-course1-left h5 span {
    font-family: Raleway, sans-serif;
    font-style :normal;
    font-weight : 600;
    font-size : 20px;
    line-height : 40px ;
    color:#e48800;
}

.content-course1-right img {
    width: 80%;
}

.content-course1-left h5 {
    font-family: Raleway, sans-serif;
    font-style :normal;
    font-weight : 400;
    font-size : 20px;
    line-height : 40px ;
    color:#0b162b;

    width: 80%;
    margin: 50px 5px 30px 50px;
}

.content-course2 {
    width: 100%;
    height: 700px;
    padding: 40px;
    background-color: #F4F5F6;
}

.content-course2-left {
    width: 60%;
    height: auto;
    text-align: left;
    float: left;
}
.content-course2-left h4{
    font-family: Raleway, sans-serif;
    font-style :normal;
    font-weight : 700;
    font-size : 24px;
    line-height : 30px ;
    color:#0b162b;

    margin: 30px 0 30px 0;

}
.content-course2-left p{
    font-family: Raleway, sans-serif;
    font-style :normal;
    font-weight : 400;
    font-size : 15px;
    line-height : 30px ;
    color: rgba(11, 22, 43, 0.6);

}
.w3-container {
    padding : 20px;
}
.w3-container h6 {
    font-family: Montserrat, sans-serif;
    font-style :normal;
    font-weight : 700;
    font-size : 16px;
    line-height : 30px ;
    color: rgba(11, 22, 43, 0.8);
    margin : 10px 0 20px 0;
    text-align:left;

}
.w3-container h5{
    text-align:left;
    font-family: Montserrat, sans-serif;
    font-style :normal;
    font-weight : 500;
    font-size : 16px;
    line-height : 30px ;
    color: #999999;
    margin : 10px 0 10px 0;
}
.w3-container h4 {
    text-align:left;
    font-family: Raleway, sans-serif;
    font-style :normal;
    font-weight : 400;
    font-size : 22px;
    line-height : 30px ;
    color: #111111;
    margin: 30px 0 20px 0;
}
.content-course2-right {
    width: 40%;
    height: auto;
    float: left;
}

.graduate-content {
    width: 100%;
    padding:40px 0 30px 0;
    float: left;
    background-color:#F4F5F6;
    margin :20px 0 20px 0;
}
.graduate-content h6 {
    font-family: Raleway, sans-serif;
    font-style :normal;
    font-weight : 400;
    font-size : 15px;
    line-height : 20px ;
    color : rgba(11, 22, 43, 0.6);
    width: 100%;

}
.graduate-content h4 {
    font-family: Raleway, sans-serif;
    font-style :normal;
    font-weight : 700;
    font-size : 34px;
    line-height : 40px ;
    color : #0b162b;
    width: 100%;
    margin : 30px 0 30px 0;
}
.graduate-content h5 {
    font-family: Raleway, sans-serif;
    font-style :normal;
    font-weight : 400;
    font-size : 22px;
    line-height : 30px ;
    color : #0b162b;
    width: 100%;
}
.content-course3 {
    width: 100%;
    height: 850px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    background-color: #FEFEFE;
}

.person-img {
    width: 300px;
    text-align:center;
    margin : 0 auto;
}

.testi {
    padding: 10px;
    width: 47%;
    float: left;
    height: 800px;
    margin: 10px;
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.content-testi {
    padding: 20px;
    width: 100%;
    height: 800px;
    margin: 0 auto;
    text-align: center;
}

.star i {
    text-align:left;
    margin: 0 0 20px 0;
    color: #E48800;
}

.content-course4 {
    margin : 200px 0 0 0;
width:100%;
    height: 120px;
    background: #1A2980;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26D0CE, #1A2980);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content-course4-left {
    font-family: Raleway, sans-serif;
    font-style :normal;
    font-weight : 400;
    font-size : 22px;
    line-height : 30px ;
    color : #fff;
    float: left;
    padding: 40px;
    width: 50%;
}

.content-course4-right {
    width: 50%;
    float: left;
    padding: 40px;

}

.content-course5 {
    width: 100%;
    padding: 30px;
}

.content-course5 h6{
    font-family: Raleway, sans-serif;
    font-style :normal;
    font-weight : 600;
    font-size : 12px;
    line-height : 40px ;
    color : #e48800;
}
.tagline h5 {
    font-family: Raleway, sans-serif;
    font-style :normal;
    font-weight : 700;
    font-size : 22px;
    line-height : 30px ;
    color : #0b162b;
    text-align: center;
    margin: 0 auto;
    width: 280px;
}

.tagline {
    width: 100%;
    margin: 50px 0 50px 0;
}

.content-course5 img {
    width: 70%;
    margin: 0 0 40px 0;
}

.badge-header-course1 {
    font-family: Montserrat, sans-serif;
    font-style :normal;
    font-weight : 500;
    font-size : 12px;
    line-height : 12px ;
    
    width: 250px;
    height :40px;
    float: left;
    background-color: orange;
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding: 15px 20px 10px 25px;
    border-radius: 20px;
    margin: 0 20px 0 50px;
}
.badge-header-course2{
    font-family: Montserrat, sans-serif;
    font-style :normal;
    font-weight : 500;
    font-size : 12px;
    line-height : 12px ;

    width: 200px;
    float: left;
    border: 1px orange solid;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    margin: 0 20px 0 50px;
}
.badge-middle {
    width: 240px;
    background-color: orange;
    color: #fff;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
}